@import "tailwindcss";
@import "@fontsource-variable/plus-jakarta-sans/wght.css";

@theme inline {
  --color-light-grey-bg: #f4f7fd;
  --color-lines-light: #e4ebfa;
  --color-medium-grey: #828fa3;
  --color-lines-dark: #3e3fae;
  --color-dark-grey-bg: #2b2c37;
  --color-black: #000112;
  --color-main-purple: #635fc7;
  --color-main-purple-hover: #a8a4ff;
  --color-red: #ea5555;
  --color-red-hover: #ff9898;
}

html {
  font-family: "Plus Jakarta Sans", sans-serif;
}

@utility heading-xl {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

@utility heading-l {
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
}

@utility heading-m {
  font-size: 15px;
  font-weight: 700;
  line-height: 19px;
}

@utility heading-s {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 2.4px;
}

@utility body-m {
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
}

@utility body-s {
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
}

@utility button {
  width: 100%;
  max-height: 48px;
  padding: 13px 0;

  display: flex;
  justify-content: center;
  items-align: center;
  gap: 8px;

  font-size: 15px;
  font-weight: 700;
  text-align: center;
  border-radius: 24px;
}

@utility button-small {
  width: 100%;
  padding: 8px 0;

  display: flex;
  justify-content: center;

  gap: 8px;

  font-size: 15px;
  font-weight: 700;
  text-align: center;
  background-color: var(--color-main-purple);
  color: white;
  border-radius: 24px;
}

@utility button-primary {
  background-color: var(--color-main-purple);
  color: white;

  &:hover {
    background-color: var(--color-main-purple-hover);
    cursor: pointer;
  }

  &:disabled {
    background-color: var(--color-medium-grey);
    cursor: not-allowed;
  }
}

@utility button-secondary {
  background-color: #635fc71a;
  color: var(--color-main-purple);

  &:hover {
    background-color: #635fc740;
    cursor: pointer;
  }

  &:disabled {
    background-color: var(--color-medium-grey);
    cursor: not-allowed;
  }
}

@utility label {
  font-size: 12px;
  font-weight: 700;
  color: var(--color-medium-grey);
}

@utility text-input {
  font-size: 16px;
  max-height: 40px;
  padding: 9px 16px;
  border: 1px solid var(--color-lines-light);
  border-radius: 4px;
  color: black;
}

@utility error {
  border: 1px solid var(--color-red);
}
